html {
    min-height: 100%;
}

body {
    background: linear-gradient(pink, white), background-image: url("bg.png");
    background-repeat: repeat;
}

h1 {
    color: black;
    font-family: times-new-roman;
    font-size: 72px;  
    text-align: center;
}

p {
    color: black;
    font-family: times-new-roman;
    font-size: 48px;  
    text-align: center;
}
