html {
    min-height: 100%;
}

body {
    background: 
        linear-gradient(pink, white),
        url("bg.png");
    background-repeat: no-repeat, repeat;
    background-size: cover, auto;
}

h1 {
    color: black;
    font-family: times-new-roman;
    font-size: 72px;  
    text-align: center;
}

p {
    color: black;
    font-family: times-new-roman;
    font-size: 42px;  
    text-align: center;
}
