html {
    min-height: 100%;
}

.tile {
  width: 20px;
  height: 20px;
  background: 
    url('bg.png'),  
    linear-gradient(pink, white);
  background-size: cover;
  background-repeat: repeat;
}

h1 {
    color: black;
    font-family: times-new-roman;
    font-size: 48px;  
    text-align: center;
}

p {
    color: black;
    font-family: times-new-roman;
    font-size: 24px;  
    text-align: center;
}
